*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
}

nav{
    background-color: black;
}
.container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.products{
   text-align: center;
   margin-top: 50px;
   
}
.product-description{
    text-align: center;
    margin-top: 50px;
}
.card-img-top{
    height: 15rem;
}
.products-div{
    background-color: rgb(0, 0, 0);
    
}
.color{
    color: rgb(255, 255, 255);
}
.nav-link{
    color: rgb(255, 255, 255);
}
.container-milan{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
/* dropdown */
.dropdown-menu {
  /* border-radius: 0; */
  /* border: none; */
  /* padding: .5em; */
  /* box-shadow: 0 3px 6px rgb(85, 85, 85); */
  /* background: transparent; */
  /* justify-content: center; */
  display: none;
  background: lightgrey;
  padding: -20px;
  border: solid;
  box-sizing: 20px;
  margin: 0px -20px;

  /* position: absolute; */
  /* width: 100%; */
  /* position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  
  align-items: center;
  justify-content: space-between; */
}
.dropdown-menu ul{
  /* list-style: none;
  padding: 25px 20px;
  width: 100%;
  justify-content: center; */
  display: flex;
  margin: 10px;
  box-sizing: content-box;

}
/* .dropdown-menu.show {
  display: flex;
} */
.dropdown-menu li{
  color: rgb(252, 252, 252);
  padding: .5em 1em;
  display: block;

}
.dropdown-menu li:first-child a{
  font-weight: bold;
  font-size: 1.2em;
  color: #fbfbfb;

}
.dropdown-menu ul li{
 /* width: 150px; */
 padding: 10px;
 

}

@media  screen and (min-width:993px) {
  .dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: -350px;
    top: 100%;

  }
  /* .dropdown-menu.show{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

    /* display: flex; */
  } */
  

/* @media  screen and (max-width:993px){
  .dropdown-menu.show{
    max-height: 350px;
    overflow-y: scroll;
  }

} */

/* products homepage css */

.pro-container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100vh;
    align-items:center;
    background: whitesmoke;
}
.pro-card{
   height: 400px;
   width: 350px;
   margin: 50px;
   box-shadow:5px 5px 20px black ;
   overflow: hidden;
}
.img{
   height: 500px;
   width: 300px;
   border-radius: 3px;
   transition: .5s;
}
.intro{
   height: 70px;
   width: 250px;
   padding: 6px;
   box-sizing: border-box;
   position: absolute;
   background:rgb(27,27,27,.5) ;
   color: white;
   bottom: 50px;
   transition: .5s;

}
.pro-h1{
   margin: 10px;
   font-size: 20px;
}
.intro p{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}
.intro span{
   font-weight: bold;
}
.pro-card:hover{
   cursor: pointer;
}
.pro-card:hover .intro{
   height: 300px;
   bottom: 100px;
   background: black;

}
.pro-card:hover p{
   opacity: 1;
   visibility: visible;
}
.pro-card:hover img{
   transform: scale(1.1) rotate(-3deg);
}


/* contact us */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f2f2f2;
} */

.contact-form {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 50px 0;
}
.contact-form > * {
  width: 50%;
}
.contact-form .first-container {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://colorlib.com/etc/cf/ContactFrom_v17/images/bg-01.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form .first-container .info-container div {
  margin: 24px 0;
}
.contact-form .first-container .info-container div h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 10px;
}
.contact-form .first-container .info-container div:first-of-type p {
  max-width: 260px;
  color: #999;
}
.contact-form .first-container .info-container div p {
  font-size: 16px;
  line-height: 1.6;
  color: #07adb9;
}
.contact-form .second-container {
  padding: 30px;
}
.contact-form .second-container h2 {
  font-size: 30px;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form .second-container form {
  display: flex;
  flex-direction: column;
}
.contact-form .second-container form .form-group {
  margin-bottom: 10px;
}
.contact-form .second-container form .form-group * {
  min-height: 55px;
  border: 1px solid #e6e6e6;
  padding: 0 20px;
}
.contact-form .second-container form .form-group label {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  margin-top: -1px;
}
.contact-form .second-container form .form-group:first-of-type input {
  width: 50.1%;
  margin-right: -5px;
}
.contact-form .second-container form .form-group input {
  width: 100%;
  font-size: 15px;
  margin-top: -2px;
}
.contact-form .second-container form .form-group input::placeholder, .contact-form .second-container form .form-group textarea::placeholder {
  color: #999;
}
.contact-form .second-container form .form-group textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
}
.contact-form .second-container form button {
  width: 200px;
  height: 50px;
  background: #07b3c0;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  position: relative;
  left: calc(50% - 100px);
  cursor: pointer;
}
.contact-form .second-container form button:hover {
  background: #333;
}

@media screen and (max-width: 800px) {
  .contact-form {
    width: 90vw;
  }
}
@media screen and (max-width: 700px) {
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form > * {
    width: 100%;
  }
  .contact-form .first-container {
    padding: 40px 0;
  }
}

/* footer */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 20px 30px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* hover effect on social media */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}

@media (max-width: 700){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* footer ends */